.nav-tabs{
  .active{
    background-color: #01685C !important;
    color: white !important;
  }
  .nav-item{
    :hover{
      background-color: #01685C !important;
    color: white !important;
    }
  }
  .nav-item{
    border-radius: 3px 3px 0 0;
    border: solid 1px #33333310;
  }
  
  .nav-link{
    color: #333;
  }
  
}