<template>
  <div>
    <h6 class="judul">
      <span @click="link('/tagihan')">Tagihan</span>
      |
      <span style="background: #fff" class="btn btn-link btn-sm text-primary"
        >History Pembayaran</span
      >
    </h6>

    <div class="row">
      <div class="col-md-6 offset-lg-3">
        <button @click="link('/tagihan')" class="btn btn-link btn-tagihan">
          Tagihan
          <i class="fa fa-arrow-circle-o-up"></i>
        </button>

        <div
          class="tagihan"
          v-touch:swipe.right="toTagihan"
          v-touch:swipe.left="toDetail"
        >
          <div class="list" v-for="item in data" v-bind:key="item.id">
            <h6 class="text-muted">{{ tgl_indo(item.tgl_bayar) }}</h6>
            <h6 class="mb-1">{{ rupiah(item.jumlah) }}</h6>
            <span class="mb-1"
              >{{ item.nama_biaya }} -
              <small
                >({{ bulan(item.tagihan ? item.tagihan.bulan : 1) }})</small
              >
            </span>
            <img class="icon" src="statics/img/money.png" alt="icon" />
          </div>
          <div class="list" v-for="item in loadPembayaran" v-bind:key="item.id">
            <h6 class="text-muted">{{ tgl_indo(item.tgl_bayar) }}</h6>
            <h6 class="mb-1">{{ rupiah(item.jumlah) }}</h6>
            <span class="mb-1"
              >{{ item.nama_biaya }} -
              <small
                >({{ bulan(item.tagihan ? item.tagihan.bulan : 1) }})</small
              ></span
            >
            <img class="icon" src="statics/img/money.png" alt="icon" />
          </div>

          <div class="list text-right">
            <h6 class="mb-1">
              Jumlah : {{ rupiah(this.$store.getters.data.total_pembayaran) }}
            </h6>
          </div>

          <div
            @click="LoadMore"
            class="col-md-12 text-center pt-3"
            v-if="loading == false"
          >
            <img width="20px" src="statics/img/load-more.png" alt="loading" />
          </div>

          <div class="col-md-12 text-center pt-3" v-if="loading">
            <img width="30px" src="statics/img/loading.png" alt="loading" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "history",
  computed: {
    data() {
      return this.$store.getters.data.history_pembayaran;
    },
    loadPembayaran() {
      return this.$store.getters.h.loadPembayaran;
    },
    loading() {
      return this.$store.getters.h.loading;
    },
    page() {
      return this.$store.getters.h.page;
    },
  },
  methods: {
    LoadMore() {
      this.$store.commit("setHistoryPembayaran");
    },
    tgl_indo(tgl) {
      let bulan = [
        "Januari",
        "Februari",
        "Maret",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Agustus",
        "September",
        "Oktober",
        "November",
        "Desember",
      ];
      var t = tgl.split("-");
      let xbulan = bulan[t[1] - 1];
      return t[2] + " " + xbulan + " " + t[0];
    },
    link(to) {
      return this.$router.push(to);
    },
    toTagihan() {
      return this.$router.push("/tagihan");
    },
    toDetail() {
      return this.$router.push("/tabungan");
    },
    rupiah(bilangan) {
      let reverse = bilangan.toString().split("").reverse().join(""),
        ribuan = reverse.match(/\d{1,3}/g);
      ribuan = ribuan.join(".").split("").reverse().join("");
      return "Rp. " + ribuan;
    },
    bulan(ke) {
      let bu = [
        "Januari",
        "Februari",
        "Maret",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Agustus",
        "September",
        "Oktober",
        "November",
        "Desember",
      ];
      return bu[ke - 1];
    },
  },
};
</script>

<style>
.btn-tagihan {
  position: absolute;
  left: -8px;
  transform: rotate(270deg);
  top: 250px;
  font-size: 10px;
}
@media screen and (min-width: 600px) {
  .btn-history {
    left: -70px;
  }
}
</style>
