<template>
  <div v-touch:swipe.left="toTagihan">
    <h6 class="judul">Home</h6>
    <div class="row">
      <div class="col-md-12 col-lg-4 offset-lg-4">
        <div class="row">
          <div class="col-md-12 text-muted">
            <div class="list-home">
              <div class="text-center">
                <img
                  width="100px"
                  src="statics/img/logo-pesantren.png"
                  alt="icon"
                />
                <h5 class="pt-4">(SIKEREN)</h5>

                <h6 class="pt-2">
                  Sistem Informasi Keuangan Pesantren Muhammadiyah Al-Furqon
                </h6>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="list-home">
              <div @click="link('/tagihan')">
                <h6>Tagihan</h6>
                <h5 class="text-primary">
                  {{ rupiah(this.$store.getters.data.total_tagihan) }}
                </h5>
                <img class="icon" src="statics/img/bank.png" alt="icon" />
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div @click="link('/tabungan')" class="list-home">
              <h6>Saldo Tabungan</h6>
              <h5 class="text-primary">
                {{ rupiah(this.$store.getters.data.total_tabungan) }}
              </h5>
              <img class="icon" src="statics/img/money-bag.png" alt="icon" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "home",
  computed: {
    dataTagihan() {
      return this.$store.getters.data.tagihan;
    },
  },
  methods: {
    link(to) {
      return this.$router.push(to);
    },
    toTagihan() {
      return this.$router.push("/tagihan");
    },
    rupiah(bilangan) {
      let reverse = bilangan.toString().split("").reverse().join(""),
        ribuan = reverse.match(/\d{1,3}/g);
      ribuan = ribuan.join(".").split("").reverse().join("");
      return "Rp. " + ribuan;
    },
    bulan(ke) {
      let bu = [
        "Januari",
        "Februari",
        "Maret",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Agustus",
        "September",
        "Oktober",
        "November",
        "Desember",
      ];
      return bu[ke - 1];
    },
  },
};
</script>

<style>
.btn-tag {
  right: 1px;
}
.list-home {
  background: #fff;
  padding: 12px 14px;
  margin: 5px 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #f1f1f1;
}
.img-circle {
  width: 100px;
  border-radius: 50%;
}
</style>
