<template>
  <div class="login">
    <div class="row">
      <div class="col-md-12 col-lg-4 offset-lg-4">
        <div class="col-md-12 text-center">
          <img
            class="logo-pesantren"
            src="statics/img/logo-pesantren.png"
            alt=""
          />
          <h5 class="pt-5">(SIKEREN)</h5>
          <h6 class="pb-2">
            Sistem Informasi Keuangan Pesantren Muhammadiyah Al-Furqon
          </h6>
        </div>
        <div class="px-5 mx-lg-4 bg-white index-100">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-user-o"></i>
              </span>
            </div>
            <input
              v-model="nis"
              placeholder="Masukkan NISN"
              type="text"
              class="form-control"
            />
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-key"></i>
              </span>
            </div>
            <input
              @keyup.enter="login()"
              v-model="pin"
              placeholder="Masukkan PIN"
              type="password"
              class="form-control"
            />
          </div>
          <button @click="login()" class="btn btn-primary btn-block btn-circle">
            <i class="fa fa-sign-in"></i>
            Masuk
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "login",
  data: () => {
    return {
      nis: "",
      pin: "",
    };
  },
  created() {
    console.log("tess 123");

    if (
      localStorage.getItem("data") !== null ||
      localStorage.getItem("data") == ""
    ) {
      this.$store.state.login = true;
      this.$router.push("/");
    }
  },
  methods: {
    login() {
      let self = this;

      if (this.nis !== "" && this.pin !== "") {
        let link = "/" + this.nis + "/" + this.pin;

        fetch("https://sikeren.alfurqon.id/api" + link)
          .then((res) => {
            res.json().then(function (data) {
              if (!data[0].gagal) {
                self.$store.commit("change", data[0]);
                self.$router.push("/");
                location.reload();
              } else {
                alert(data[0].gagal);
              }
            });
          })
          .catch((e) => {
            alert(e);
          });
      } else {
        alert("NISN dan Pin Wajib di isi");
      }
    },
  },
};
</script>

<style>
.login {
  margin-top: 50px;
}
.index-100 {
  z-index: 100;
}
.logo-pesantren {
  margin: auto;
  width: 180px;
}
.btn-circle {
  border-radius: 30px;
}
</style>
