<template>
  <div v-touch:swipe.left="toTagihan">
    <h6 class="judul text-right mr-3">Profil</h6>
    <div class="row" style="margin-top: -20px">
      <div class="col-md-12 col-lg-4 offset-lg-4">
        <div class="row">
          <div class="col-md-12 text-muted">
            <div class="list-home" style="margin-top: 55px">
              <div class="text-center">
                <div
                  class="p-2 bg-white"
                  @click="editAvatar = true"
                  style="border-radius: 100%; position: absolute; top: 0"
                >
                  <img
                    width="90px"
                    height="90px"
                    :src="
                      $store.state.data.siswa.avatar
                        ? $store.state.url + $store.state.data.siswa.avatar
                        : '/statics/avatar.png'
                    "
                    alt="Avatar"
                  />
                </div>

                <div class="a-modal" v-if="editAvatar">
                  <div
                    class="a-modal-overlay"
                    @click="editAvatar = false"
                  ></div>
                  <div class="a-modal-body text-center px-5">
                    <h6>Ubah Foto Avatar</h6>
                    <br />
                    <croppa
                      style="border-radius: 100%"
                      :width="150"
                      :height="150"
                      @init="onInit"
                      prevent-white-space
                      :placeholder="'Upload Foto'"
                      v-model="myCroppa"
                    ></croppa>
                    <br />
                    <button
                      @click="uploadCroppedImage"
                      class="btn btn-primary btn-sm btn-block mt-4"
                      style="border-radius: 30px"
                    >
                      <i class="fa fa-save"></i>
                      Simpan
                    </button>
                  </div>
                </div>

                <div class="text-right px-4 pt-4">
                  <h6>
                    NISN:
                    <span
                      class="bg-primary text-white p-2 px-3"
                      style="border-radius: 50%"
                      >{{ this.$store.getters.data.siswa.nis }}</span
                    >
                  </h6>

                  <h3 class="text-primary">
                    <b>
                      {{ this.$store.getters.data.siswa.nama }}
                    </b>
                  </h3>

                  <h6 class="text-primary">
                    {{ this.$store.getters.data.siswa.kelas }}
                  </h6>

                  <p>
                    No Hp :
                    <span class="text-primary">
                      {{ this.$store.getters.data.siswa.no_hp }}</span
                    >
                  </p>
                  <p>
                    Alamat :
                    <span class="text-primary">
                      {{ this.$store.getters.data.siswa.alamat_ortu }}</span
                    >
                  </p>
                </div>
              </div>
            </div>

            <div class="row mx-3">
              <div class="col-12">
                <button
                  @click="editPinCek"
                  class="float-left btn btn-primary btn-sm my-3 px-4"
                  style="border-radius: 30px"
                >
                  <i class="fa fa-edit mt-1 mr-1"></i> Edit Profil
                </button>

                <div class="a-modal" v-if="editPin">
                  <div class="a-modal-overlay" @click="editPin = false"></div>
                  <div class="a-modal-body">
                    <h6>PIN</h6>
                    <input
                      type="number"
                      v-model="pinbaru"
                      placeholder="Masukkan PIN Baru"
                      class="form-control px-4"
                      style="border-radius: 15px"
                    />
                    <br />
                    <h6>No Hp</h6>
                    <input
                      type="text"
                      v-model="nohp"
                      placeholder="No Hp"
                      class="form-control px-4"
                      style="border-radius: 15px"
                    />
                    <br />
                    <h6>Alamat</h6>
                    <textarea
                      v-model="alamat"
                      class="form-control px-4"
                      style="border-radius: 30px"
                      placeholder="Alamat"
                    ></textarea>

                    <br />
                    <button
                      @click="ubahPin"
                      class="btn btn-primary btn-sm btn-block mt-3"
                      style="border-radius: 15px"
                    >
                      <i class="fa fa-save"></i>
                      Simpan
                    </button>
                  </div>
                </div>

                <button
                  @click="logout()"
                  class="float-right btn btn-outline-danger btn-sm my-3 px-4"
                  style="border-radius: 30px"
                >
                  <i class="fa fa-sign-out"></i> Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.a-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1005;
  text-align: left;
}
.a-modal-overlay {
  z-index: 1006;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: #000;
  opacity: 0.5;
}
.a-modal-body {
  z-index: 1007;
  margin: auto;
  padding: 50px 20px;
  background: #fff;
  border-radius: 30px;
  width: 80%;
}
</style>
<script>
import Vue from "vue";
import Croppa from "vue-croppa";

Vue.use(Croppa);

// If your build tool supports css module
import "vue-croppa/dist/vue-croppa.css";

export default {
  name: "profil",
  computed: {
    dataTagihan() {
      return this.$store.getters.data.tagihan;
    },
  },
  created() {
    // console.log(this.$store.getters.data.siswa)
  },
  data() {
    return {
      pinbaru: "",
      alamat: "",
      nohp: "",
      myCroppa: {},
      editAvatar: false,
      editPin: false,
    };
  },
  methods: {
    editPinCek() {
      this.editPin = true;
      this.pinbaru = this.$store.getters.data.siswa.pin;
      this.alamat = this.$store.getters.data.siswa.alamat_ortu;
      this.nohp = this.$store.getters.data.siswa.no_hp;
    },
    onInit() {
      this.myCroppa.addClipPlugin(function (ctx, x, y, w, h) {
        /*
         * ctx: canvas context
         * x: start point (top-left corner) x coordination
         * y: start point (top-left corner) y coordination
         * w: croppa width
         * h: croppa height
         */
        // console.log(x, y, w, h)
        ctx.beginPath();
        ctx.arc(x + w / 2, y + h / 2, w / 2, 0, 2 * Math.PI, true);
        ctx.closePath();
      });
    },

    uploadCroppedImage() {
      this.myCroppa.generateBlob(
        (blob) => {
          // write code to upload the cropped image file (a file is a blob)
        },
        "image/jpeg",
        0.8
      ); // 80% compressed jpeg file

      let data = {
        avatar: this.myCroppa.generateDataUrl(),
      };
      let url =
        this.$store.state.api +
        "/updateAvatar/" +
        this.$store.state.data.siswa.nis +
        "/" +
        this.$store.state.data.siswa.pin;
      // console.log(url);

      let sl = this;

      if (data.avatar) {
        fetch(url, {
          method: "POST", // *GET, POST, PUT, DELETE, etc.
          mode: "cors", // no-cors, *cors, same-origin
          cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
          credentials: "same-origin", // include, *same-origin, omit
          headers: {
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
          redirect: "follow", // manual, *follow, error
          referrer: "no-referrer", // no-referrer, *client
          body: JSON.stringify(data), // body data type must match "Content-Type" header
        }).then((res) => {
          res.json().then((data) => {
            sl.editAvatar = false;
            sl.$store.state.data.siswa.avatar = data.avatar;
          });
        });
      }
    },

    ubahPin() {
      let sl = this;

      let url =
        this.$store.state.api +
        "/updatePin/" +
        this.$store.state.data.siswa.nis +
        "/" +
        this.$store.state.data.siswa.pin;

      if (this.pinbaru) {
        let data = {
          pinbaru: this.pinbaru,
          nohp: this.nohp,
          alamat: this.alamat,
        };
        fetch(url, {
          method: "POST", // *GET, POST, PUT, DELETE, etc.
          mode: "cors", // no-cors, *cors, same-origin
          cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
          credentials: "same-origin", // include, *same-origin, omit
          headers: {
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
          redirect: "follow", // manual, *follow, error
          referrer: "no-referrer", // no-referrer, *client
          body: JSON.stringify(data), // body data type must match "Content-Type" header
        }).then((res) => {
          res.json().then((data) => {
            sl.editPin = false;
            sl.$store.state.data.siswa.pin = data.pin;
            sl.$store.state.data.siswa.alamat_ortu = data.alamat_ortu;
            sl.$store.state.data.siswa.no_hp = data.no_hp;
          });
        });
      }
    },

    logout() {
      localStorage.removeItem("data");
      location.href = "#/login";
    },
    link(to) {
      return this.$router.push(to);
    },
    toTagihan() {
      return this.$router.push("/tagihan");
    },
    rupiah(bilangan) {
      let reverse = bilangan.toString().split("").reverse().join(""),
        ribuan = reverse.match(/\d{1,3}/g);
      ribuan = ribuan.join(".").split("").reverse().join("");
      return "Rp. " + ribuan;
    },
    bulan(ke) {
      let bu = [
        "Januari",
        "Februari",
        "Maret",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Agustus",
        "September",
        "Oktober",
        "November",
        "Desember",
      ];
      return bu[ke - 1];
    },
  },
};
</script>
