<template>
  <div class="page">
    <h6 class="judul">Tabungan</h6>

    <div class="row" v-touch:swipe.top="LoadMore">
      <div class="col-md-12 col-md-12 offset-lg-3 p-relative">
        <button @click="link('/tagihan')" class="btn btn-link btn-tagihan">
          Tagihan
          <i class="fa fa-arrow-circle-o-up"></i>
        </button>
        <div
          class="tagihan p-3"
          v-if="dataTabungan"
          v-touch:swipe.right="toTagihan"
        >
          <div class="row text-right pb-2">
            <small style="width: 35%"> Tanggal </small>
            <small class="col"> Nominal </small>
            <small class="col"> Saldo </small>
          </div>

          <div
            class="text-right"
            v-for="item in dataTabungan"
            v-bind:key="item.id"
          >
            <div class="row">
              <div style="width: 35%">
                <small class="text-muted mb-1">
                  <span style="font-size: 8.5px">
                    {{ tgl_indo(item.created_at) }} :{{
                      jamber(item.created_at)
                    }}
                  </span>
                  <br />
                  <span style="font-size: 8.5px">
                    {{ item.ket }}
                  </span>
                </small>
              </div>
              <div class="col">
                {{ item.type == 1 ? "+" : "-" }}
                {{ rupiah(item.jumlah ? item.jumlah : 0) }}
              </div>
              <div class="col">
                {{ rupiah(item.saldo_akhir ? item.saldo_akhir : 0) }}
              </div>
            </div>
          </div>

          <div
            class="text-right"
            v-for="item1 in loadTabungan"
            v-bind:key="item1.id"
          >
            <div class="row">
              <div style="width: 35%">
                <small class="text-muted mb-1">
                  <span style="font-size: 8.5px">
                    {{ tgl_indo(item1.created_at) }} :{{
                      jamber(item1.created_at)
                    }}
                  </span>
                  <br />
                  <span style="font-size: 8.5px">
                    {{ item1.ket }}
                  </span>
                </small>
              </div>
              <div class="col">
                {{ item1.type == 1 ? "+" : "-" }} {{ rupiah(item1.jumlah) }}
              </div>
              <div class="col">
                {{ rupiah(item1.saldo_akhir) }}
              </div>
            </div>
          </div>

          <div
            @click="LoadMore"
            class="col-md-12 text-center pt-3"
            v-if="loading == false"
          >
            <img width="20px" src="statics/img/load-more.png" alt="loading" />
          </div>

          <div class="col-md-12 text-center pt-3" v-if="loading">
            <img width="30px" src="statics/img/loading.png" alt="loading" />
          </div>
        </div>
        <div
          v-if="showTh2h && !isBuatTabungan"
          class="cart-checkout text-center"
        >
          <h3 class="pt-3 text-center w-100">
            Menunggu
            <br />
            Pembayaran
          </h3>
          <div
            class="alert bg-danger my-2 p-2 rounded text-center text-white"
            v-if="isError"
          >
            <strong>{{ textError }}</strong>
          </div>

          <p v-if="dataTagihanH2h.ref == 2">
            "Segera Lakukan Pembayaran Melalui BANK BSI Sebesar
            <b> {{ rupiah(dataTagihanH2h.nominal) }} </b> dengan biaya admin
            {{ rupiah(2500) }}"
            <a
              target="_BLANK"
              href="https://sikeren.alfurqon.id/PanduanPembayaranH2h.pdf"
              class="btn btn-link btn-block"
            >
              Lihat Panduan Pembayaran
            </a>
          </p>
          <div v-if="dataTagihanH2h.ref == 3">
            "Segera Lakukan Pembayaran Melalui
            <strong>BANK BRI</strong> Sebesar
            <b> {{ rupiah(dataTagihanH2h.nominal) }} </b> dengan biaya admin
            {{ rupiah(2500) }}"
            <a
              target="_BLANK"
              href="https://sikeren.alfurqon.id/PanduanPembayaranH2h.pdf"
              class="btn btn-link btn-block"
            >
              Lihat Panduan Pembayaran
            </a>

            <div class="p-2 rounded bg-warning text-center mb-2">
              <strong>VA BRI</strong>
              <h4>77777{{ dataTagihanH2h.nis }}</h4>
            </div>
          </div>

          <button
            class="btn btn-block btn-outline-danger"
            @click="batlkanTabungan()"
          >
            Batalkan Pembayaran
          </button>

          <button
            class="btn btn-block btn-secondary"
            @click="periksaTabungan()"
          >
            Periksa Status Pembayaran
          </button>
        </div>
        <form @submit.prevent="buatTabungan" v-if="isBuatTabungan">
          <div class="cart-checkout text-center">
            <h5 class="pt-3 text-center">Top-Up (Menabung)</h5>
            <br />

            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <label for="" class="mb-0 text-left w-100">Jumlah Uang</label
                  ><input
                    required
                    v-model="f.uang"
                    min="10000"
                    type="number"
                    class="form-control"
                  />
                  <div class="small text-danger text-left w-100">
                    Top-Up Minimal Rp.10.000
                  </div>
                </div>
                <div class="form-group">
                  <label
                    for="exampleFormControlSelect1"
                    class="mb-0 text-left w-100"
                    >Pembayaran</label
                  >
                  <select
                    v-model="f.bank"
                    class="form-control"
                    id="exampleFormControlSelect1"
                    required
                  >
                    <option value="">Pilih Pembayaran</option>
                    <option value="2" v-if="settings.metode_bri">BRI</option>
                    <option value="1" v-if="settings.metode_bri_syariah">
                      BSI
                    </option>
                    <option value="3" v-if="settings.metode_payment_gateway">
                      Bank Lainnya
                    </option>
                  </select>
                </div>
                <div class="alert bg-warning p-2 text-center" v-if="isError">
                  <strong>{{ textError }}</strong
                  >, anda tidak bisa membuat tabungan.
                </div>
              </div>
            </div>

            <div class="btn-bayar text-center row">
              <div class="col-md-12">
                <button
                  type="submit"
                  class="btn btn-block btn-primary"
                  style="border-radius: 30px"
                >
                  Bayar Sekarang
                </button>
              </div>
            </div>
          </div>
        </form>
        <div
          class="icon-checkout text-left"
          style="font-size: 0.8em"
          v-if="!isBuatTabungan && !showTh2h"
        >
          <div
            class="btn btn-sm btn-primary float-right"
            style="width: 50%; border-radius: 20px"
            @click="
              isBuatTabungan = !isBuatTabungan;
              isError = false;
              f.uang = '';
              f.bank = '';
            "
          >
            Top-Up (Menabung)
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "tabungan",
  data: () => {
    return {
      loading: false,
      page: 1,
      loadTabungan: [],
      f: {
        uang: "",
        bank: "",
      },
      isBuatTabungan: false,
      showTh2h: false,
      isError: false,
      textError: "",
      dataTagihanH2h: {},
      siswa: {},
    };
  },
  created() {
    this.siswa = JSON.parse(localStorage.getItem("data")).siswa;
    this.getTagihanH2h(false);
  },
  computed: {
    dataTabungan() {
      let tabungan = this.$store.getters.data.tabungan;
      return tabungan;
    },
    settings() {
      return this.$store.state.settings;
    },
  },
  methods: {
    async periksaTabungan() {
      this.isError = false;

      // console.log(f2s);
      let url = this.$store.state.url + "/briva/cek-tabungan/" + this.siswa.nis;
      await axios.get(url).then((res) => {
        console.log("sts", res.data);
        if (res.data.status == false) {
          this.isError = true;
          this.textError = res.data.errDesc ? res.data.errDesc : res.data.pesan;
        } else {
          if (res.data.data.statusBayar == "Y") {
            this.showTh2h = false;
            this.isBuatTabungan = false;
            this.batlkanTabungan();
          }
        }
      });
    },
    async buatTabungan() {
      this.isError = false;
      // console.log(this.f);
      if (this.f.uang < 1) {
        alert("Nilai uang harus di isi");
        return;
      }
      if (this.f.bank == "1") {
        this.buatTabunganBris();
        return;
      }
      this.buatTabunganBri();
    },
    async buatTabunganBris() {
      let url =
        this.$store.state.api +
        `/v1/buatTabunganBris/${this.siswa.nis}/${this.siswa.pin}/${this.f.uang}`;
      console.log(url);
      await axios.get(url).then((res) => {
        // console.log(res.data);
        if (res.data.status == false) {
          this.isError = true;
          this.textError = res.data.errDesc;
        } else {
          this.showTh2h = true;
          this.isBuatTabungan = false;
          this.getTagihanH2h(true);
        }
        setTimeout(() => {
          this.reload();
        }, 1000);
      });
    },
    async buatTabunganBri() {
      let f2s = new FormData();
      // form.append("id", id);
      f2s.append("pin", this.siswa.pin);
      f2s.append("nis", this.siswa.nis);
      f2s.append("tabungan", this.f.uang);
      // console.log(f2s);
      let url = this.$store.state.url + "/briva/buat-tabungan";
      await axios.post(url, f2s).then((res) => {
        console.log(res.data);
        if (res.data.status == false) {
          this.isError = true;
          this.textError = res.data.errDesc;
        } else {
          this.showTh2h = true;
          this.isBuatTabungan = false;
          this.getTagihanH2h(true);
        }
      });
    },
    async batlkanTabungan() {
      this.isError = false;
      let f2s = new FormData();
      // form.append("id", id);
      f2s.append("pin", this.siswa.pin);
      f2s.append("nis", this.siswa.nis);
      // console.log(f2s);
      let url = this.$store.state.url + "/briva/hapus-tabungan";
      await axios.post(url, f2s).then((res) => {
        if (res.data.status == false) {
          this.isError = true;
          this.textError = res.data.errDesc;
        } else {
          this.showTh2h = false;
          this.isBuatTabungan = false;
          this.getTagihanH2h(true);
        }
        setTimeout(() => {
          this.reload();
        }, 1000);
      });
    },
    getTagihanH2h(started) {
      let nis = JSON.parse(localStorage.getItem("data")).siswa.nis;
      let pin = JSON.parse(localStorage.getItem("data")).siswa.pin;

      let url = this.$store.state.url + "/briva/tabungan/" + nis + "/" + pin;
      let that = this;
      axios
        .get(url)
        .then(function (response) {
          // console.log(response);
          // console.log("dsini",  started);
          if (response.data.status == true) {
            that.dataTagihanH2h = response.data.data;
            that.showTh2h = true;
            console.log("periksa tabungan");
            that.periksaTabungan();
          } else {
            if (started) {
              that.isError = true;
              that.textError = response.data.pesan;
            }
          }
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
        .then(function () {
          // always executed
        });
      // console.log(this.dataTagihanH2h)
    },
    LoadMore() {
      this.loading = true;
      this.page = this.page + 1;

      let self = this;

      let nis = JSON.parse(localStorage.getItem("data")).siswa.nis;
      let pin = JSON.parse(localStorage.getItem("data")).siswa.pin;

      let link = "/" + nis + "/" + pin + "/tabungan?page=" + this.page;
      console.log(link);

      fetch("https://sikeren.alfurqon.id/api" + link)
        .then((res) => {
          res.json().then(function (d) {
            if (d) {
              let data = d.data;
              self.loadTabungan = self.loadTabungan.concat(data);
            }
            self.loading = false;
          });
        })
        .catch((e) => {
          alert(e);
        });
    },
    link(to) {
      return this.$router.push(to);
    },
    toTagihan() {
      return this.$router.push("/tagihan");
    },
    rupiah(bilangan) {
      console.log("a", bilangan);
      console.log("bill - " + typeof bilangan);
      if (typeof bilangan !== "undefined" || bilangan !== "null") {
        let reverse = bilangan.toString().split("").reverse().join(""),
          ribuan = reverse.match(/\d{1,3}/g);
        ribuan = ribuan.join(".").split("").reverse().join("");
        return "Rp. " + ribuan;
      }
    },
    tgl_indo(tgl) {
      let bulan = [
        "Januari",
        "Februari",
        "Maret",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Agustus",
        "September",
        "Oktober",
        "November",
        "Desember",
      ];
      // var t = tgl.split("-");
      var t0 = tgl.split(" ");
      var t = t0[0].split("-");
      let xbulan = bulan[t[1] - 1];
      return t[2] + " " + xbulan + " " + t[0];
    },
    jamber(tgl) {
      var t0 = tgl.split(" ");
      return t0[1].substring(0, 5);
    },
  },
};
</script>

<style>
.p-relative {
  position: relative;
}
.tagihan {
  background: #fff;
  min-height: 500px;
  margin: 0 25px;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 15px;
  margin-bottom: 50px;
  padding: 5px 0;
  max-width: 600px;
  font-size: 12px;
}
.judul {
  color: #fff;
  text-align: left;
  padding: 12px 24px;
}

.list {
  border-radius: 10px;
  text-align: left;
  padding: 4px 8px;
  margin: 10px;
  box-shadow: 1px 1px 2px #ccc;
  cursor: pointer;
}
.list:hover {
  opacity: 0.8;
}

.icon {
  float: right;
  margin-top: -35px;
  width: 20px;
  overflow: hidden;
}

.btn-history {
  position: absolute;
  right: -35px;
  transform: rotate(270deg);
  top: 250px;
  font-size: 10px;
}
@media screen and (min-width: 600px) {
  .btn-history {
    right: -70px;
  }
  .judul {
    color: #2c3e50;
    font-size: 35px;
    text-align: center;
    padding: 0;
    padding-bottom: 10px;
  }
}
</style>
