<template>
  <div class="page">
    <h6 class="judul">
      <span style="background: #fff" class="btn btn-link btn-sm text-primary"
        >Tagihan</span
      >
      |
      <span @click="link('/history-pembayaran')">History Pembayaran</span>
    </h6>

    <div class="row">
      <div class="col-md-12 col-md-12 offset-lg-3 p-relative">
        <button
          @click="link('/history-pembayaran')"
          class="btn btn-link btn-history"
        >
          History Pembayaran
          <i class="fa fa-arrow-circle-o-down"></i>
        </button>

        <button @click="link('/')" class="btn btn-link btn-tagihan">
          Home
          <i class="fa fa-arrow-circle-o-up"></i>
        </button>

        <div
          v-if="dataTagihan"
          class="tagihan"
          v-touch:swipe.left="toHistory"
          v-touch:swipe.right="toHome"
        >
          <div
            class="list"
            v-for="item in dataTagihan"
            v-bind:key="item.id"
            @click="addToCheckout(item)"
          >
            <h6 class="text-muted mb-1">{{ item.nama }}</h6>
            <small class="text-muted"
              >({{
                item.bulan == 7
                  ? "Daftar Ulang"
                  : bulan(item.bulan) + " - " + item.tahun_id
              }})</small
            >
            <h6>{{ rupiah(item.nominal - item.dibayar) }}</h6>
            <i
              style="font-size: 20px"
              :class="
                dataCheckout.indexOf(item) > -1
                  ? 'icon fa fa-check-square text-primary'
                  : 'icon fa fa-square-o text-primary'
              "
            ></i>
          </div>

          <div class="list text-right">
            <h6 class="mb-1">Jumlah : {{ rupiah(totalTagihan) }}</h6>
          </div>
          <br />
          <br />
        </div>

        <div v-if="!dataTagihanH2h">
          <div class="icon-checkout text-left row" style="font-size: 0.8em">
            <div
              @click="pilihSemua"
              v-if="!showCheckout"
              class="btn-sm btn btn-link mt-1"
              style="width: 25%"
            >
              <i
                :class="
                  dataTagihan.length == dataCheckout.length
                    ? 'fa fa-check-square float-left text-primary'
                    : 'fa fa-square-o float-left text-primary'
                "
              ></i>
              <span class="float-left ml-1" style="margin-top: -4px">
                Semua
              </span>
            </div>

            <div
              v-if="!showCheckout && datajumlahCheckout > 0"
              style="width: 50%"
              class="btn btn-link btn-sm text-left"
            >
              <b> Total : {{ rupiah(datajumlahCheckout) }} </b>
            </div>

            <div
              @click="showCheckout = !showCheckout"
              v-if="!showCheckout && datajumlahCheckout > 0"
              class="btn btn-sm btn-primary"
              style="width: 25%; border-radius: 20px"
            >
              Checkout
            </div>

            <span
              @click="
                showCheckout = !showCheckout;
                isMetodePembayaran = false;
              "
              v-if="showCheckout"
              class="btn btn-secondary btn-sm text-white text-center"
              style="margin: auto; border-radius: 30px"
            >
              Tutup
            </span>
          </div>
        </div>

        <div v-if="dataTagihanH2h">
          <div class="icon-checkout text-center px-4">
            <div class="row">
              <div class="col-12 p-3">
                <img
                  style="width: 24px; float: left"
                  src="statics/img/add.png"
                  alt="icon"
                />

                <img
                  style="width: 24px; float: right"
                  src="statics/img/refresh.png"
                  alt="icon"
                  @click="cekStatusBri"
                  class="loader"
                />
                Menunggu Pembayaran
              </div>
              <div class="col-md-12">
                <div class="row px-3">
                  <span
                    class="col-8 bg-primary px-3 py-1 text-white"
                    style="
                      float: right;
                      border-top-left-radius: 20px;
                      border-bottom-left-radius: 20px;
                    "
                  >
                    Total : {{ rupiah(dataTagihanH2h.nominal) }}
                  </span>
                  <span
                    @click="batalkanPembayaran(dataTagihanH2h.ref)"
                    class="col-4 bg-danger px-3 py-2 text-white"
                    style="
                      float: right;
                      font-size: 12px;
                      border-top-right-radius: 20px;
                      border-bottom-right-radius: 20px;
                    "
                  >
                    Batalkan
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div v-if="showTh2h && !showCheckout" class="cart-checkout text-center">
          <h3 class="pt-3 text-center w-100">
            Menunggu
            <br />
            Pembayaran
          </h3>
          <br />
          <p v-if="dataTagihanH2h.ref == 2">
            "Segera Lakukan Pembayaran Melalui BANK BSI Sebesar
            <b> {{ rupiah(dataTagihanH2h.nominal) }} </b> dengan biaya admin
            {{ rupiah(2500) }}"
            <a
              target="_BLANK"
              href="https://sikeren.alfurqon.id/PanduanPembayaranH2h.pdf"
              class="btn btn-link btn-block"
            >
              Lihat Panduan Pembayaran
            </a>
          </p>
          <div v-if="dataTagihanH2h.ref == 3">
            "Segera Lakukan Pembayaran Melalui
            <strong>BANK BRI</strong> Sebesar
            <b> {{ rupiah(dataTagihanH2h.nominal) }} </b> dengan biaya admin
            {{ rupiah(2500) }}"
            <a
              target="_BLANK"
              href="https://sikeren.alfurqon.id/PanduanPembayaranH2h.pdf"
              class="btn btn-link btn-block"
            >
              Lihat Panduan Pembayaran
            </a>

            <div class="p-2 rounded bg-warning text-center mb-2">
              <strong>VA BRI</strong>
              <h4>77777{{ dataTagihanH2h.nis }}</h4>
            </div>
          </div>
          <h6>Detail</h6>
          <div
            class="list-checkout"
            style="height: 300px; overflow-y: scroll; z-index: 100000000"
          >
            <ul>
              <li
                class="list"
                v-for="item in dataTagihanH2h.items"
                v-bind:key="item.id"
              >
                <h6 class="text-muted mb-1">{{ item.nama }}</h6>
                <h6>{{ rupiah(item.nominal) }}</h6>
              </li>
            </ul>
            <br />
          </div>
        </div>

        <div v-if="showCheckout && !showTh2h" class="cart-checkout text-center">
          <h5 class="pt-3 text-center">
            CheckOut

            <small
              class="bg-primary p-1 px-2 text-white mr-3"
              style="float: right; border-radius: 30px"
              >{{ dataCheckout.length }} Tagihan</small
            >
          </h5>
          <br />

          <div class="list-checkout">
            <div class="list" v-for="item in dataCheckout" v-bind:key="item.id">
              <img
                @click="deleteInCheckout(item)"
                class="float-right pt-4"
                width="30px"
                src="statics/img/delete.png"
                alt="icon"
              />

              <h6 class="text-muted mb-1">{{ item.nama }}</h6>
              <small class="text-muted"
                >({{
                  item.bulan == 7
                    ? "Daftar Ulang"
                    : bulan(item.bulan) + " - " + item.tahun_id
                }})</small
              >
              <h6>{{ rupiah(item.nominal - item.dibayar) }}</h6>
            </div>

            <br />
          </div>

          <div class="btn-bayar text-center row">
            <div class="col-md-12">
              <div class="btn btn-link">
                <h4 class="mb-1">Jumlah : {{ rupiah(datajumlahCheckout) }}</h4>
              </div>

              <button
                v-if="datajumlahCheckout > 0"
                @click="isMetodePembayaran = !isMetodePembayaran"
                class="btn btn-block btn-primary"
                style="border-radius: 30px"
              >
                Bayar Sekarang
              </button>
            </div>
          </div>
        </div>

        <div v-if="isMetodePembayaran" class="cart-checkout text-center">
          <h5 class="pt-3 text-center">Pilih Metode Pembayaran</h5>
          <br />

          <div class="list-checkout">
            <div
              class="list py-2 px-3"
              v-if="settings.metode_bri"
              @click="bayarSekarang(2)"
            >
              BRI
            </div>
            <div
              class="list py-2 px-3"
              v-if="settings.metode_bri_syariah"
              @click="bayarSekarang(1)"
            >
              BSI
            </div>
            <div class="list py-2 px-3" v-if="settings.metode_payment_gateway">
              Lainnya
            </div>
            <div
              class="bg-warning p-2 rounded text-center"
              v-if="
                !settings.metode_bri &&
                !settings.metode_bri_syariah &&
                !settings.metode_payment_gateway
              "
            >
              Metode Pembayaran tidak tersedia
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "tagihan",
  data() {
    return {
      showTh2h: false,
      showCheckout: false,
      datajumlahCheckout: 0,
      dataTagihanH2h: "",
      isMetodePembayaran: false,
      dataSetting: {},
    };
  },
  computed: {
    totalTagihan() {
      return this.$store.state.data.total_tagihan;
    },
    dataTagihan() {
      return this.$store.state.data.tagihan;
    },
    dataCheckout() {
      return this.$store.state.checkout;
    },
    settings() {
      return this.$store.state.settings;
    },
  },
  created() {
    this.getTagihanH2h();
    this.jumlahCheckout();
    // console.log(this.dataTagihan);
  },
  methods: {
    getTagihanH2h() {
      let nis = JSON.parse(localStorage.getItem("data")).siswa.nis;
      let pin = JSON.parse(localStorage.getItem("data")).siswa.pin;

      let url = this.$store.state.api + "/v1/dataTagihan/" + nis + "/" + pin;
      let that = this;
      axios
        .get(url)
        .then(function (response) {
          // console.log(response)

          if (response.data.status == "success") {
            let save = JSON.stringify(response.data.data);
            that.dataTagihanH2h = response.data.data;
            localStorage.setItem("tagihan_h2h", save);
            // console.log("get tagihan h2h ")
            that.showTh2h = true;
          } else if (response.data.status == "null") {
            that.dataTagihanH2h = "";
            localStorage.removeItem("tagihan_h2h");
          }
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
        .then(function () {
          // always executed
        });
      // console.log(this.dataTagihanH2h)
    },
    setshowTh2h(s) {
      this.showTh2h = s;
    },
    reload() {
      var location = this.$route.fullPath;

      this.$router.replace("/profil");

      this.$nextTick(() => this.$router.replace(location));
    },
    async batalkanPembayaran(x) {
      switch (x) {
        case 2:
          await this.$store.commit(
            "batalkanPembayaran",
            this.dataTagihanH2h.id
          );
          break;
        case 3:
          await this.$store.commit("batalBRI", this.dataTagihanH2h.id);
          break;

        default:
          console.log("batalkan", x);
          break;
      }
      // await this.getTagihanH2h()
      // await this.setshowTh2h(false)
      // this.datajumlahCheckout = 0

      setTimeout(() => {
        this.reload();
      }, 1000);
    },
    async bayarSekarang(x) {
      switch (x) {
        case 1:
          await this.$store.commit("bayarCheckout");
          break;
        case 2:
          await this.$store.commit("bayarBRI");
          break;

        default:
          break;
      }
      setTimeout(() => {
        this.reload();
      }, 1000);
    },
    async cekStatusBri() {
      // await this.$store.commit("cekStatusBri", this.dataTagihanH2h.id);
      window.location.reload();
    },
    jumlahCheckout() {
      let datajumlahCheckout_h = 0;
      for (let d in this.dataCheckout) {
        datajumlahCheckout_h +=
          this.dataCheckout[d].nominal - this.dataCheckout[d].dibayar;
      }
      this.datajumlahCheckout = datajumlahCheckout_h;
    },
    deleteInCheckout(item) {
      this.$store.commit("deleteCheckout", item);
      this.jumlahCheckout();
    },
    addToCheckout(item) {
      this.$store.commit("addCheckout", item);
      console.log("dataCheckout", this.dataCheckout);
      this.jumlahCheckout();
    },
    pilihSemua() {
      let that = this;
      if (this.dataTagihan.length == this.dataCheckout.length) {
        that.$store.commit("resetCheckout");
        that.jumlahCheckout();
      } else {
        this.dataTagihan.forEach((item) => {
          let d = that.dataCheckout;
          if (d.indexOf(item) == -1) {
            that.$store.commit("addCheckout", item);
            that.jumlahCheckout();
          }
        });
      }
    },
    link(to) {
      return this.$router.push(to);
    },
    toHistory() {
      return this.$router.push("/history-pembayaran");
    },
    toHome() {
      return this.$router.push("/");
    },
    async getDataSetting() {
      await axios.get("").then((res) => {
        this.dataSetting = res.data;
      });
    },
    rupiah(bilangan) {
      // console.log("bill - "+ typeof bilangan)
      if (typeof bilangan !== "undefined") {
        let reverse = bilangan.toString().split("").reverse().join(""),
          ribuan = reverse.match(/\d{1,3}/g);
        ribuan = ribuan.join(".").split("").reverse().join("");
        return "Rp. " + ribuan;
      }
    },
    bulan(ke) {
      let bu = [
        "Januari",
        "Februari",
        "Maret",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Agustus",
        "September",
        "Oktober",
        "November",
        "Desember",
      ];
      return bu[ke - 1];
    },
  },
};
</script>

<style>
.cart-checkout {
  position: fixed;
  width: 88%;
  left: 6%;
  padding: 12px;
  border-radius: 20px;
  height: 85vh;
  background: #ffff;
  z-index: 10001;
  box-shadow: 2px 4px 4px #f1f1f1;
  bottom: 65px;
  right: 0;
}
.icon-checkout {
  z-index: 10002;
  position: fixed;
  bottom: 57px;
  width: 100%;
  padding: 12px;
  background: #fff;
  margin: 0;
}
.btn-bayar {
  position: absolute;
  bottom: 50px;
  background: #fff;
  width: 100%;
}

.p-relative {
  position: relative;
}
.tagihan {
  background: #fff;
  min-height: 500px;
  margin: 0 25px;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 15px;
  margin-bottom: 50px;
  padding: 5px 0;
  max-width: 600px;
  font-size: 12px;
}
.judul {
  color: #fff;
  text-align: left;
  padding: 12px 24px;
}

.list {
  border-radius: 10px;
  text-align: left;
  padding: 4px 8px;
  margin: 10px;
  box-shadow: 1px 1px 2px #ccc;
  cursor: pointer;
}
.list-checkout {
  max-height: 50vh;
  overflow-y: scroll;
}

.icon {
  float: right;
  margin-top: -51px;
  width: 35px;
  overflow: hidden;
}

.btn-history {
  position: absolute;
  right: -35px;
  transform: rotate(270deg);
  top: 250px;
  font-size: 10px;
}
.loader {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 600px) {
  .btn-history {
    right: -70px;
  }
  .judul {
    color: #2c3e50;
    font-size: 35px;
    text-align: center;
    padding: 0;
    padding-bottom: 10px;
  }
}
</style>
