<template>
  <div class="fixed-center text-center">
    <p>
      <img
        src="~assets/sad.svg"
        style="width:30vw;max-width:150px;"
      >
    </p>
    <p class="text-faded">Maaf, Halaman Tidak Ditemukan...<strong>(404)</strong></p>
  
  </div>
</template>

<script>
export default {
  name: 'Error404'
}
</script>
