<template>
  <div>
    <h6 class="judul">History Pembayaran</h6>

    <div class="row">
      <div class="col-md-6 offset-lg-3" >
          <button @click="link('/tagihan')" class="btn btn-link btn-tagihan">
          Tagihan
          </button>
          <div  class="tagihan" v-touch:swipe.right="toTagihan">
              <div  class="list" v-for="item in data" v-bind:key="item.id" >
                  <h5 class="mb-1">{{ rupiah(item.jumlah_bayar) }}</h5>
                  <h6 class="text-muted">{{ tgl_indo(item.tgl_bayar) }}</h6>
                  <img class="icon" src="/img/money.png" alt="icon">
                  
              </div>
          </div>
      </div>

    </div>
   
  </div>
</template>

<script>

export default {
  name: 'app',
  computed: {
    data () {
      return this.$store.getters.data.history_pembayaran
    }
  },
  methods: {
    tgl_indo(tgl){
      let bulan = ['Januari', 'Februari', 'Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'];
      var t = tgl.split("-");
      let xbulan = bulan[t[1]-1];
      return t[2] +" "+ xbulan +" "+ t[0]
    },
    link(to){
      return this.$router.push(to);
    },
    toTagihan(){
      return this.$router.push('/tagihan');
    },
    rupiah (bilangan) {  
        let	reverse = bilangan.toString().split('').reverse().join(''),
        ribuan 	= reverse.match(/\d{1,3}/g);
        ribuan	= ribuan.join('.').split('').reverse().join('');
        return "Rp. "+ ribuan;
    },
    bulan (ke){
      let bu = [
          'Januari',
          'Februari',
          'Maret',
          'April',
          'Mei',
          'Juni',
          'Juli',
          'Agustus',
          'September',
          'Oktober',
          'November',
          'Desember'
      ];
        return bu[ke-1];
    }
  }
}
</script>

<style >

.btn-tagihan{
  position: absolute;
  left: -6px;
  transform: rotate(270deg);
  top: 250px;
}
@media screen and (min-width:600px){
  
.btn-history{
  left: -70px;
}
}
</style>