<template>
  <div class="login">
    <div class="row">
      <div class="col-md-12 col-lg-4 offset-lg-4">
              
          <img class="logo-pesantren" src="/img/logo-pesantren.png" alt="">
          
          <h5 class="pt-4"> Selamat Datang </h5>
          <div class="px-5 mx-lg-4 bg-white index-100">
            <div class="input-group mb-3">
               <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user-o"></i>
                </span>
              </div>
              <input v-model="nis" placeholder="Masukkan NIS" type="text" class="form-control">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-key"></i>
              </span>
            </div>
            <input @keyup.enter="login()" v-model="pin" placeholder="Masukkan PIN" type="text" class="form-control">
          </div>
          <button @click="login()" class="btn btn-primary btn-block btn-circle">
              <i class="fa fa-sign-in"></i>
              Masuk
          </button>

          </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'login',
  data: () => {
    return {
        nis : '192007002',
        pin : '8034'
      }
  },
  methods : {
    login() {
      let self = this;

      if(this.nis !== '' && this.pin !== ''){
        
        let link = "/"+this.nis+'/'+this.pin;

        fetch('https://sikeren.yucoding.com/api'+link)
          .then(res => {
                res.json().then(function(data) {
                      if(!data[0].gagal){
                          self.$store.commit('change', data[0])
                          return self.$router.push("/tagihan");
                      }else{
                          alert(data[0].gagal)
                      }
                  });
           
          })
          .catch( (e) => {
            alert(e);
          })

      }else{
        alert("Nis dan Pin Wajib di isi");
      }
    }
  }
}
</script>

<style>
.login{
  margin-top: 50px;
}
.index-100{
 z-index: 100 
}
.logo-pesantren{
  margin: auto;
  width: 180px;
}
.btn-circle{
  border-radius: 30px;
}
</style>