<template>
  <div>
    <h6 class="judul">Tagihan</h6>

    <div class="row">
      <div class="col-md-6 offset-lg-3" >
          <button @click="link('/history-pembayaran')" class="btn btn-link btn-history">
          History Pembayaran
          </button>
          <div  class="tagihan" v-touch:swipe.left="toHistory">
              <div  class="list" v-for="item in dataTagihan" v-bind:key="item.id" >
                  <h5 class="mb-1">{{ item.nama }}</h5>
                  <small class="text-muted">({{ (item.bulan == 7) ? 'Daftar Ulang' : bulan(item.bulan) }})</small>
                  <h6 class="text-muted">{{ rupiah(item.nominal - item.dibayar) }}</h6>
                  
                  <img v-if="item.bulan == 7" class="icon" src="/img/money.png" alt="icon">
                  <img v-if="item.bulan != 7" class="icon" src="/img/bank.png" alt="icon">
                  
              </div>
          </div>
      </div>

    </div>
   
  </div>
</template>

<script>

export default {
  name: 'app',
  computed: {
    dataTagihan () {
      return this.$store.getters.data.tagihan
    }
  },
  methods: {
    link(to){
      return this.$router.push(to);
    },
    toHistory(){
      return this.$router.push('/history-pembayaran');
    },
    rupiah (bilangan) {  
        let	reverse = bilangan.toString().split('').reverse().join(''),
        ribuan 	= reverse.match(/\d{1,3}/g);
        ribuan	= ribuan.join('.').split('').reverse().join('');
        return "Rp. "+ ribuan;
    },
    bulan (ke){
      let bu = [
          'Januari',
          'Februari',
          'Maret',
          'April',
          'Mei',
          'Juni',
          'Juli',
          'Agustus',
          'September',
          'Oktober',
          'November',
          'Desember'
      ];
        return bu[ke-1];
    }
  }
}
</script>

<style >

  .tagihan{
    background: #fff;
    min-height: 500px;
    margin: 0 35px;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 15px;
    margin-bottom: 50px;
    padding: 10px 0;
    max-width: 600px;
  }
  .judul{
    color: #fff;
    text-align: left;
    padding: 12px 45px
  }
  
  .list{
    border-radius: 10px;
    text-align: left;
    padding: 10px 12px;
    margin: 12px;
    box-shadow: 1px 1px 2px #ccc;
    cursor: pointer;
  }
  .list:hover{
    opacity: .8;
  }

.icon{
  float: right;
  margin-top: -50px;
  width: 35px
}

.btn-history{
  position: absolute;
  right: -50px;
  transform: rotate(270deg);
  top: 250px;
}
@media screen and (min-width:600px){
  
.btn-history{
  right: -70px;
}
  .judul{
    color:  #2c3e50;
    font-size: 35px;
    text-align: center;
    padding: 0;
    padding-bottom: 10px;
  }
}
</style>