<template>
  <div id="app" class="mb-5">
 
      <img class="bg" src="/img/bg.png" alt="">
         <div class="nav">
              <img  @click="link('/home')" class="logo" src="/img/logo.png" alt="">
              <br>
              <i @click="logout()" class="fa fa-sign-out btn-logout"></i>
        </div>
      <router-view/>


        <div class="nav-menu">
          <div  @click="link('/tagihan')" class="btn btn-circle btn-primary">
            <img src="/img/bank.png" alt="icon"> Tagihan
          </div>
          <div @click="link('/tabungan')" class="btn btn-circle btn-outline-primary">
            <img src="/img/money-bag.png" alt="icon"> Tabungan
          </div>
        </div>
  </div>
</template>

<script>

export default {
  name: 'app',
  methods:{
    link(to){
      return this.$router.push(to);
    },
    logout(){
      localStorage.removeItem("data");
      location.href = '/';
    }
  }
}
</script>
<style lang="scss">

@import "assets/bootstrap/bootstrap.scss";

*{
  overflow-x: hidden
}
.nav{
  padding: 0 20px;
  padding-top: 10px
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1
}
.logo{
  width: 250px;
  float: left;
  padding: 12px 14px;
}
.btn-logout{
  position: absolute;
  right: 15px;
  top: 15px;
  color: #fff;
  z-index: 1;
  font-size: 30px;
}
.nav-menu{
  position: fixed;
  bottom: 30px;
  width: 100%;
}
.nav-menu .btn{
  width: 35%;
}
.nav-menu .btn img{
  width: 12%;
}
@media screen and(min-width:600px){
    .nav-menu{
      position: fixed;
      bottom: 10%;
      left: 5%;
      width: 20%;
    }
    .nav-menu .btn{
      width: 70%;
      text-align: center;
      margin-top: 10px
    }
    .nav-menu .btn img{
      width: 20%;
    }
  .bg{
    width: 45%;
    margin-top: -100px;
  }
  .logo{
    margin-top: 30px;
    width: 300px;
  }
  .btn-logout{
    color: #2c3e50
  }
}

</style>
