<template>
  <div id="q-app" class="mb-5">
    <img class="bg" src="statics/img/bg.png" alt="bg" />
    <div class="nav">
      <!-- <img class="logo" src="statics/img/logo.png" alt="logo" /> -->
      <br />
      <i @click="infoapp" class="fa fa-info-circle btn-infoo"></i>
    </div>

    <div v-if="info" class="info text-center">
      <div @click="infoapp" class="btn float-right text-danger">
        <i class="fa fa-close"></i>
      </div>
      <br />
      <br />
      <h5>
        Pesantren Muhammadiyah <br />
        Al-Furqon
      </h5>
      <br />
      <img width="128px" src="statics/app-logo-128x128.png" alt="logo" />
      <br />
      <br />
      <br />
      <b class="text-center">
        Copyright 2022 -
        <a href="http://alphabet.yucoding.com" target="_BLANK"> Alphabet </a>
      </b>
    </div>
    <transition name="slide-fade">
      <router-view />
    </transition>

    <div v-if="$store.state.login" class="nav-menu">
      <div @click="link('/')" class="btn">
        <img
          v-if="$route.path == '/'"
          src="statics/img/a-home.png"
          alt="icon"
        />
        <img v-else src="statics/img/home.png" alt="icon" />
        <small :class="$route.path == '/' ? 'text-primary' : ''">Home</small>
      </div>
      <div @click="link('/tagihan')" class="btn">
        <img
          v-if="$route.path == '/tagihan'"
          src="statics/img/a-tagihan.png"
          alt="icon"
        />
        <img v-else src="statics/img/tagihan.png" alt="icon" />
        <small :class="$route.path == '/tagihan' ? 'text-primary' : ''">
          Tagihan
        </small>
      </div>
      <div @click="link('/tabungan')" class="btn">
        <img
          v-if="$route.path == '/tabungan'"
          src="statics/img/a-tabungan.png"
          alt="icon"
        />
        <img v-else src="statics/img/tabungan.png" alt="icon" />
        <small :class="$route.path == '/tabungan' ? 'text-primary' : ''">
          Tabungan</small
        >
      </div>
      <div @click="link('/profil')" class="btn">
        <img
          v-if="$route.path == '/profil'"
          src="statics/img/a-putra.png"
          alt="icon"
        />
        <img v-else src="statics/img/putra.png" alt="icon" />
        <small :class="$route.path == '/profil' ? 'text-primary' : ''">
          Profile</small
        >
      </div>
    </div>

    <div class="destop-view bg-primary">
      Download Aplikasinya di Play store
      <br />
      <br />
      <img src="statics/img/qrcode.png" />

      <br />
      <br />
      <small style="font-size: 20px">SIKEREN ALFURQON</small>
    </div>
  </div>
</template>

<script>
export default {
  name: "app",
  data: () => {
    return {
      info: false,
    };
  },
  methods: {
    infoapp() {
      if (this.info == true) {
        this.info = false;
      } else {
        this.info = true;
      }
    },
    link(to) {
      return this.$router.push(to);
    },
  },
  created() {
    if (
      localStorage.getItem("data") == null ||
      localStorage.getItem("data") == ""
    ) {
      this.$router.push("/login");
    }

    this.$store.commit("defaultSettings");

    navigator.serviceWorker.getRegistrations().then((registrations) => {
      registrations.forEach((registration) => {
        registration.unregister();
      });
    });
  },
  mounted() {
    let self = this;

    let nis = JSON.parse(localStorage.getItem("data")).siswa.nis;
    let pin = JSON.parse(localStorage.getItem("data")).siswa.pin;

    let link = "/" + nis + "/" + pin;

    fetch("https://sikeren.alfurqon.id/api" + link)
      .then((res) => {
        res.json().then(function (data) {
          // console.log(data);
          if (!data[0].gagal) {
            self.$store.commit("change", data[0]);
          } else {
            console.log(data[0].gagal);
            if (self.$store.getters.data !== null) {
              self.$store.commit(
                "change",
                JSON.parse(localStorage.getItem("data"))
              );
            }
          }
        });
      })
      .catch((e) => {
        alert(e);
      });
  },
};
</script>
<style lang="scss">
.font-bold {
  font-weight: bold;
}
@media (max-width: 800px) {
  .destop-view {
    display: none;
  }
}

@media (min-width: 768px) {
  .destop-view {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
    width: 100vw;
    height: 100vh;
    z-index: 10000000000;
    padding-top: 30vh;
    font-size: 40px;
  }
}
@import "assets/bootstrap/bootstrap.scss";

::-webkit-scrollbar {
  display: none;
}

* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 0.2s ease;
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(5px);
  opacity: 0;
}

.nav {
  padding: 0 12px;
  padding-top: 10px;
}
.info {
  position: fixed;
  top: 10%;
  right: 10%;
  width: 80%;
  background: #fff;
  z-index: 10000;
  height: 65%;
  box-shadow: 1px 2px 5px #ccc;
  border-radius: 20px;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
.logo {
  width: 200px;
  height: 40px;

  float: left;
  padding: 4px 8px;
}
.btn-infoo {
  position: absolute;
  right: 15px;
  top: 25px;
  color: #fff;
  z-index: 1;
  font-size: 20px;
  cursor: pointer;
}
.nav-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 1px 1px 5px #ccc;
  background: #fff;
}
.nav-menu .btn {
  width: 25%;
  cursor: pointer;
}
.nav-menu .btn img {
  width: 24px;
  text-align: center;
}
.nav-menu .btn small {
  width: 100%;
  float: left;
}
@media screen and(min-width:600px) {
  .nav-menu {
    position: fixed;
    bottom: 25%;
    left: 5%;
    width: 100px;
    border-radius: 20px;
  }
  .nav-menu .btn {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .nav-menu .btn img {
    width: 50%;
  }
  .bg {
    width: 45%;
    margin-top: -100px;
  }
  .logo {
    margin-top: 30px;
    width: 300px;
    height: 50px;
  }
  .btn-infoo {
    color: #2c3e50;
  }
}
</style>
